.headerad
{
    height: 100px;
    background-color: yellow;
    text-align: center;
    justify-content: center;
    width: 100%;
    margin: 0 auto;
    margin-top: 10px;
    font-weight: bold;
    font-size: 50px;
    padding-top: 40px;
}
button[type=submit]
{
    height:30px;
}

input[type=text]
{
    height: 28px;
    border-radius: 5px;
    size:40;
    margin-right: 50px;
    float: right;
}

#frmnhapsp {
width: 25%;
float: right;
border: 2px solid red;
margin-top: 20px;
margin-right: 40px;
background-color: aquamarine;

}

.containbox
{
    height: 40px;
    border: 1px solid black;
    align-content: center;
    padding-top: 10px;
    font-weight: bold;
    margin-top:30px;
    padding-left: 5px;
}
table {
    border-collapse: collapse;
    width: 70%;
    margin-top:30px;
}

table, th, td {
    border: 1px solid black;
}

th, td {
    padding: 8px;
    text-align: left;
}

th {
    background-color: blue;
    color: yellow;
}

/* Modal styles */
.modal {
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgb(0,0,0);
    background-color: rgba(0,0,0,0.4);
    padding-top: 60px;
}

.modal-content {
    background-color: #fefefe;
    margin: 5% auto;
    padding: 20px;
    border: 1px solid #888;
    width: 80%;
}

.close {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}
.tabletk
{
        border-collapse: collapse;
        width: 90%;
        margin-top:30px;
}

.containboximg
{
    height: 200px;
    border: 1px solid black;
    align-content: center;
    padding-top: 50px;
    font-weight: bold;
    margin-top:20px;
}

